# ETL Project

## Extract - 2

### Web Scraping - The Numbers Movies Budget

In [26]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np
from time import sleep
from random import randint

In [27]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 86.0.4240
[WDM] - Get LATEST driver version for 86.0.4240
[WDM] - Driver [C:\Users\lenpk\.wdm\drivers\chromedriver\win32\86.0.4240.22\chromedriver.exe] found in cache

In [ ]:
# The budget
# Extract first 6000 movies from The Numbers website 
# Use splinter and beautiful soup to extract data from the first 60 pages
# Save data csv

In [28]:
# Range of first 60 pages to loop through
urls = np.arange(1, 6001, 100)

In [29]:
# create empty list to hold the tables
movies = []
for url in urls:
    
    print('Extracting data')
    print('.................')
    
    # pages to loop through
    page = 'https://www.the-numbers.com/movie/budgets/all' + '/' + str(url)
    
    # Browser instance t visit pages
    browser.visit(page)
    
    # Extract htlp of pages
    html = browser.html
    
    # Create a Soup instance
    soup = BeautifulSoup(html, 'html.parser')
    
    # Extract the tables and allow minimum 2 seconds wait time to sleep
    data = soup.find_all('table')
    sleep(randint(2,30))
    
    # Create a dataframe from the tables
    film = pd.read_html(str(data))[0]
    
    # Append the dataframe to the movies list
    movies.append(film)

Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................
Extracting data
.................

In [34]:
# Get complete dataframe of all the dataframes in movies
# create an empty dataframe
df = pd.DataFrame()

# loop through the movies list of dataframes
for movie in movies:
    
    # append the movies in the the empty dataframe df
    df = df.append(movie)

In [35]:
# Reset index of df
df_movie = df.reset_index()

In [36]:
# Inspect df_movie
df_movie.tail()

,index,Unnamed: 0,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
5995,95,5996,Unknown,Hayride,"$60,000",$0,$0
5996,96,5997,"Aug 10, 1962",The Brain That Wouldn't Die,"$60,000",$0,$0
5997,97,5998,"Oct 4, 2013",The Dirties,"$55,000",$0,$0
5998,98,5999,"Aug 9, 1995",The Brothers McMullen,"$50,000","$10,426,506","$10,426,506"
5999,99,6000,"Mar 16, 2001",Gabriela,"$50,000","$2,335,352","$2,335,352"

In [37]:
# export movie_df as csv file df_6000_movie.csv
df_movie.to_csv('df_6000_movie.csv', index = False)

In [33]:
browser.quit()

In [39]:
# Import the saved dataframe and inspect
movies_num = pd.read_csv('df_6000_movie.csv')
movies_num.head()

,index,Unnamed: 0,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,0,1,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,2,3,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,396,099,202"
3,3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,065,478,084"
4,4,5,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,044,540,523"

In [40]:
# Select 'ReleaseDate', 'Movie', 'ProductionBudget', 'DomesticGross', 'WorldwideGross' to create movies_num_df
movies_num_df = movies_num[['ReleaseDate', 'Movie', 'ProductionBudget', 'DomesticGross', 'WorldwideGross']]

In [41]:
# Inspect movies_num_df
movies_num_df.head()

,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,396,099,202"
3,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,065,478,084"
4,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,044,540,523"

In [42]:
# Export movies_num_df as csv movies_num_final.csv
movies_num_df.to_csv('movies_num_final.csv', index = False)